@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Master lỗi";
    Layout = "_Admin";
    //Layout = "_Layout";
    var Listerror = ViewData["Listerror"] as List<TblMasterError>;
}
<h4 style="color:#008d61; font-weight:600">Master lỗi</h4>

<div style="float:left">   
    <button type="button" id="btnthem" class="btn btn-primary"  style="background-color:cadetblue; border-color:cadetblue; margin:20px;margin-left:0">
        Thêm mới
    </button>

</div>

<table class="table table-hover" style="font-size:small">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Location</th>
            <th scope="col">Tên lỗi</th>
            <th scope="col">Tên tiếng nhật</th>
            <th scope="col">ID cha</th>
            <th scope="col">Remark</th>
            <th scope="col">Sửa & Xóa</th>
        </tr>
    </thead>
    <tbody>
        @if (Listerror != null)
        {
            foreach (var it in Listerror)
            {
                <tr class="table-light">
                    <td class="item-id" data-id="@it.Id"> @it.Id</td>
                    <td class="loc" data-loc="@it.Location"> @it.Location</td>
                    <td class="namev" data-namev="@it.ErrorName"> @it.ErrorName</td>
                    <td class="namej" data-namej="@it.NameJp"> @it.NameJp</td>
                    <td class="test" data-idCha="@it.Idcha"> @it.Idcha</td>
                    <td class="remark" data-remark="@it.Remarks"> @it.Remarks</td>
                    <td class="align-middle text-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <a class="action-item text-decoration-none" id="btnedit"><i class="bx bx-edit"></i></a>
                            <a class="action-item text-decoration-none text-danger" id="btndelete"><i class="bx bx-trash"></i></a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="modal fade" id="Popup_themerr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbtieude" style="color:darkblue;font-weight:600"></h5>
                <button class="btn-close-modal btn" data-bs-dismiss="modal" aria-label="Close" type="button"><span class="bx bx-x"></span></button>
            </div>
            <div class="modal-body">
                <div id="noticeContainer"></div>
                <label id="Lbider"></label>
                <div style="margin-bottom:10px">
                    <label>Tên lỗi (Tiếng Việt): </label>
                    <input type="text" class="form-control"  id="txtnamev">
                </div>
                <div style="margin-bottom:10px;">
                    <label>Tên lỗi (Tiếng Nhật): </label>
                    <input type="text" class="form-control"  id="txtnamej">
                </div>
                <div style="margin-bottom:10px;width:250px">
                    <label>ID cha:</label>
                    <select class="form-select" id="idchaerr" name="idchaerr">
                        <option></option>                       
                        @if (Listerror != null)
                        {
                            foreach (var item in Listerror)
                            {
                                <option value="@item.Id">@item.Id: @item.ErrorName / @item.NameJp </option>
                            }
                        }
                    </select>                  
                </div>
                <div style="margin-bottom:10px; width:250px">
                    <label>Location: </label>
                    <input type="text" class="form-control" name="txtloc" id="txtloc">
                </div>
                <div style="margin-bottom:10px;">
                    <label>Remark: </label>
                    <input type="text" class="form-control" id="txtremark">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" id="BtnSave_err" class="btn btn-primary">Lưu</button>
                <span class="spinner-border spinner-border-sm d-none check-load" role="status" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>














