@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "In Chuôi";
    Layout = "_Layout";
    var breadcrumbs = ViewBag.Breadcrumbs as List<Breadcrumb>;
    var listWoProductions = ViewData["ListWoProduction"] as List<ListWoProduction>;
    var listWoDivLines = ViewData["ListWoDivLine"] as List<ListWoDivLine>;
    var listDivLineForLot = ViewData["listDivLineForLot"] as List<ListDivLineForLot>;
    var stringJsonData = ViewData["StringWOCalc"]?.ToString();
    var stringTotalLine = ViewData["StringTotalLine"]?.ToString();
    var classTableBordered = string.Empty;
    if (listWoProductions?.Count > 0)
    {
        classTableBordered = "table table-collapse";
    }
    else
    {
        classTableBordered = "table table-bordered border-dark";
    }
    var classHiddenElement = string.Empty;
}
<div class="text-center page-title">
    <h1 class="display-6">@ViewData["Title"]</h1>
</div>
<div class="container">
    @await Component.InvokeAsync("Breadcrumb", new { breadcrumbs = breadcrumbs })
</div>
<hr />
<input type="hidden" id="jsonCalcTimeProd" value="@stringJsonData" />
<input type="hidden" id="jsonTotalLine" value="@stringTotalLine" />
<div class="table-div-line">
    <div class="title-table text-center mb-2">
        <h5>Bảng chia line</h5>
        <div class="comment-color">
            <div class="comment-title">Chú thích</div>
            <div class="d-flex justify-content-around">
                <div class="box-item-color">
                    <div class="bg-approval-end"></div>
                    <span>Order Approval End</span>
                </div>
                <div class="box-item-color">
                    <div class="bg-on-going"></div>
                    <span>On Going Production</span>
                </div>
                <div class="box-item-color">
                    <div class="bg-has-content"></div>
                    <span>Đã chia line</span>
                </div>
                <div class="box-item-color">
                    <div class="bg-hasdivline-lot"></div>
                    <span>Đã chia line theo Lot</span>
                </div>
                <div class="box-item-color">
                    <div class="bg-divnot-enough"></div>
                    <span>Chia line chưa đủ</span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-sort-wo btn-md disabled">Sắp xếp</button>
            <button class="btn btn-save-calculator d-none disabled btn-md">Tính thời gian sản xuất</button>
            <button class="btn btn-save-line btn-md disabled @classHiddenElement">Lưu</button>
        </div>
    </div>
    <div class="mt-1" id="modalCalculatorTimeProd">
        <div class="qty-processing-wrapper d-none mt-3">
            <p class="text-danger"></p>
            <div class="row">
                <div class="col-6">
                    <div class="input-group align-items-center">
                        <label class="form-label" for="qtyInHours">Số lượng sản xuất theo giờ:</label>
                        <input type="number" id="qtyInHours" class="form-control ms-2" />
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group align-items-center">
                        <label class="form-label" for="cycleTime">Cycle time:</label>
                        <input type="number" id="cycleTime" class="form-control ms-2" />
                    </div>
                </div>
            </div>
        </div>
        <p class="text-danger mb-0">Vui lòng sắp xếp chỉ thị trước khi thực hiện tính thời gian sản xuất của các lô theo thứ tự 1, 2, 3,....</p>
        <div class="table-responsive table-calculator-item mt-3">
            @if (listWoProductions?.Count > 0)
            {
                <table class="table table-collapse" id="tableCalculators">
                    <thead>
                        <tr>
                            <th rowspan="2" class="align-middle item-freezer">STT</th>
                            <th rowspan="2" class="align-middle item-freezer">WorkOrder</th>
                            <th rowspan="2" class="align-middle item-freezer">Chủng loại</th>
                            <th rowspan="2" class="align-middle item-freezer">Số lô</th>
                            <th rowspan="2" class="align-middle item-freezer">Số lượng WO</th>
                            <th rowspan="2" class="align-middle item-freezer">Chữ cái</th>
                            <th colspan="5" class="align-middle">Line 1</th>
                            <th colspan="5" class="align-middle">Line 2</th>
                            <th colspan="5" class="align-middle">Line 3</th>
                            <th colspan="5" class="align-middle">Line 4</th>
                            <th rowspan="2" class="align-middle">Mã thay đổi</th>
                            <th rowspan="2" class="align-middle">Ghi chú</th>
                            <th rowspan="2" class="align-middle d-none"></th>
                        </tr>
                        <tr>
                            <th class="align-middle d-none item-freezer">STT</th>
                            <th class="align-middle d-none item-freezer">WorkOrder</th>
                            <th class="align-middle d-none item-freezer">Chủng loại</th>
                            <th class="align-middle d-none item-freezer">Số lô</th>
                            <th class="align-middle d-none item-freezer">Số lượng WO</th>
                            <th class="align-middle d-none item-freezer">Chữ cái</th>
                            <th class="align-middle title-line-1" data-line="1">Số lượng dự định</th>
                            <th class="align-middle title-line-1" data-line="1">Thời gian sản xuất lô</th>
                            <th class="align-middle title-line-1" data-line="1">Ngày/giờ dự định</th>
                            <th class="align-middle title-line-1" data-line="1">Ngày/giờ kết thúc</th>
                            <th class="align-middle title-line-1" data-line="1">Số lượng/ngày</th>
                            <th class="align-middle title-line-2" data-line="2">Số lượng dự định</th>
                            <th class="align-middle title-line-2" data-line="2">Thời gian sản xuất lô</th>
                            <th class="align-middle title-line-2" data-line="2">Ngày/giờ dự định</th>
                            <th class="align-middle title-line-2" data-line="2">Ngày/giờ kết thúc</th>
                            <th class="align-middle title-line-2" data-line="2">Số lượng/ngày</th>
                            <th class="align-middle title-line-3" data-line="3">Số lượng dự định</th>
                            <th class="align-middle title-line-3" data-line="3">Thời gian sản xuất lô</th>
                            <th class="align-middle title-line-3" data-line="3">Ngày/giờ dự định</th>
                            <th class="align-middle title-line-3" data-line="3">Ngày/giờ kết thúc</th>
                            <th class="align-middle title-line-3" data-line="3">Số lượng/ngày</th>
                            <th class="align-middle title-line-4" data-line="4">Số lượng dự định</th>
                            <th class="align-middle title-line-4" data-line="4">Thời gian sản xuất lô</th>
                            <th class="align-middle title-line-4" data-line="4">Ngày/giờ dự định</th>
                            <th class="align-middle title-line-4" data-line="4">Ngày/giờ kết thúc</th>
                            <th class="align-middle title-line-4" data-line="4">Số lượng/ngày</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in listWoProductions)
                        {
                            string line1 = string.Empty;
                            string line2 = string.Empty;
                            string line3 = string.Empty;
                            string line4 = string.Empty;
                            string changeControl = string.Empty;
                            string note = string.Empty;
                            string classChangeControl = string.Empty;
                            string classDisabled = string.Empty;
                            string classOldItem = string.Empty;
                            string classOnGoing = string.Empty;
                            string classHasDivLot = string.Empty;
                            string classNotEnoughQty = string.Empty;

                            if (item.StatusName == "On Going Production")
                            {
                                classOnGoing = "on-going";
                            }
                            if (listWoDivLines?.Count > 0)
                            {
                                foreach (var itemOld in listWoDivLines)
                                {
                                    if (item.WorkOrderNo == itemOld.WorkOrder)
                                    {
                                        line1 = itemOld.Line1 ?? "";
                                        line2 = itemOld.Line2 ?? "";
                                        line3 = itemOld.Line3 ?? "";
                                        line4 = itemOld.Line4 ?? "";
                                        changeControl = itemOld.ChangeControl ?? "";
                                        note = itemOld.Note ?? "";
                                        classOldItem = "has-content ";
                                    }
                                }
                            }
                            if (listDivLineForLot?.Count > 0)
                            {
                                foreach (var itemDiv in listDivLineForLot)
                                {
                                    if (item.WorkOrderNo == itemDiv.WorkOrder)
                                    {
                                        classHasDivLot = "has-div-lot ";
                                        if (int.Parse(line1) > int.Parse(itemDiv.Line1 ?? "0"))
                                        {
                                            classNotEnoughQty = " not-enough-qty";
                                        }
                                        if (int.Parse(line2) > int.Parse(itemDiv.Line2 ?? "0"))
                                        {
                                            classNotEnoughQty = " not-enough-qty";
                                        }
                                        if (int.Parse(line3) > int.Parse(itemDiv.Line3 ?? "0"))
                                        {
                                            classNotEnoughQty = " not-enough-qty";
                                        }
                                        if (int.Parse(line4) > int.Parse(itemDiv.Line4 ?? "0"))
                                        {
                                            classNotEnoughQty = " not-enough-qty";
                                        }
                                    }
                                }
                            }
                            if (changeControl != "")
                            {
                                classChangeControl = "has-change-control ";
                            }
                            <tr class="@classHasDivLot@classOldItem@classChangeControl@classOnGoing@classNotEnoughQty" data-workorder="@item.WorkOrderNo" data-product_code="@item.ProductCode" data-lotno="@item.LotNo" data-qty="@item.QtyProd">
                                <td class="item-freezer">
                                    <input type="@(string.IsNullOrEmpty(item.SoTT) ? "number" : "text")" class="indexWOProduction info-wo" min="0" value="@item.SoTT" />
                                </td>
                                <td class="item-freezer">
                                    <a href="#showDivLine" data-bs-toggle="modal" class="info-wo workorder">
                                        @item.WorkOrderNo
                                    </a>
                                </td>
                                <td class="item-freezer">
                                    <a href="#showDivLine" data-bs-toggle="modal" class="info-wo product-code">
                                        @item.ProductCode
                                    </a>
                                </td>
                                <td class="item-freezer">
                                    <a href="#showDivLine" data-bs-toggle="modal" class="info-wo lot-no">
                                        @item.LotNo
                                    </a>
                                </td>
                                <td class="item-freezer">
                                    <a href="#showDivLine" data-bs-toggle="modal" class="info-wo qty-wo">
                                        @item.QtyProd
                                    </a>
                                </td>
                                <td class="item-freezer"><input type="text" class="input-enter-val character-input info-wo text-uppercase text-center" value="@item.Character" /></td>
                                <td><input type="number" data-line="1" class="input-enter-val qty-production-line" min="0" value="" /></td>
                                <td><input type="text" data-line="1" class="input-enter-val time-production" value="" /></td>
                                <td><input type="text" data-line="1" class="input-enter-val date-start-lot input-time-custom" value="" /></td>
                                <td><input type="text" data-line="1" class="input-enter-val date-end-lot input-time-custom" value="" /></td>
                                <td><input type="number" data-line="1" class="input-enter-val qty-in-day" min="0" value="" /></td>
                                <td><input type="number" data-line="2" class="input-enter-val qty-production-line" min="0" value="" /></td>
                                <td><input type="text" data-line="2" class="input-enter-val time-production" value="" /></td>
                                <td><input type="text" data-line="2" class="input-enter-val date-start-lot input-time-custom" value="" /></td>
                                <td><input type="text" data-line="2" class="input-enter-val date-end-lot input-time-custom" value="" /></td>
                                <td><input type="number" data-line="2" class="input-enter-val qty-in-day" min="0" value="" /></td>
                                <td><input type="number" data-line="3" class="input-enter-val qty-production-line" min="0" value="" /></td>
                                <td><input type="text" data-line="3" class="input-enter-val time-production" value="" /></td>
                                <td><input type="text" data-line="3" class="input-enter-val date-start-lot input-time-custom" value="" /></td>
                                <td><input type="text" data-line="3" class="input-enter-val date-end-lot input-time-custom" value="" /></td>
                                <td><input type="number" data-line="3" class="input-enter-val qty-in-day" min="0" value="" /></td>
                                <td><input type="number" data-line="4" class="input-enter-val qty-production-line" min="0" value="" /></td>
                                <td><input type="text" data-line="4" class="input-enter-val time-production" value="" /></td>
                                <td><input type="text" data-line="4" class="input-enter-val date-start-lot input-time-custom" value="" /></td>
                                <td><input type="text" data-line="4" class="input-enter-val date-end-lot input-time-custom" value="" /></td>
                                <td><input type="number" data-line="4" class="input-enter-val qty-in-day" min="0" value="" /></td>
                                <td><input type="text" class="input-enter-val change-control" value="" /></td>
                                <td><textarea class="input-enter-val note"></textarea></td>
                                <td class="d-none"><input type="hidden" class="processcode" min="0" value="@item.ProcessCode" /></td>
                            </tr>
                        }
                    </tbody>
                    <tfoot class="bg-success">
                        <tr>
                            <td class="item-freezer" colspan="6"><div class="fw-bold">Tổng</div></td>
                            <td><span class="total-line" data-line="1"></span></td>
                            <td colspan="4"></td>
                            <td><span class="total-line" data-line="2"></span></td>
                            <td colspan="4"></td>
                            <td><span class="total-line" data-line="3"></span></td>
                            <td colspan="4"></td>
                            <td><span class="total-line" data-line="4"></span></td>
                            <td colspan="7"></td>
                        </tr>
                    </tfoot>
                </table>
            }
            else
            {
                <p class="text-center">Không có dữ liệu cần tính</p>
            }
        </div>
    </div>
</div>

<partial name="_PartialConditionsProcessing" />